@font-face {
  font-family: my-pinar;
  font-weight: 400;
  src: url("fonts/pinar/pinar-400.woff2") format("woff2");
}
@font-face {
  font-family: my-pinar;
  font-weight: 700;
  src: url("fonts/pinar/pinar-700.woff2") format("woff2");
}
@font-face {
  font-family: my-iran-yekan;
  font-weight: normal;
  src: url("fonts/iranyekan/woff2/iranyekanwebregular.woff2") format("svg"),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format("woff"),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format("svg"),
    url("fonts/iranyekan/eot/iranyekanwebregular.eot")
      format("embedded-opentype"),
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format("truetype");
}
@font-face {
  font-family: my-iran-yekan;
  font-weight: bold;
  src: url("fonts/iranyekan/eot/iranyekanwebbold.eot")
      format("embedded-opentype"),
    url("fonts/iranyekan/svg/iranyekanwebbold.svg") format("svg"),
    url("fonts/iranyekan/woff/iranyekanwebbold.woff") format("woff"),
    url("fonts/iranyekan/woff2/iranyekanwebbold.woff2") format("woff2"),
    url("fonts/iranyekan/ttf/iranyekanwebbold.ttf") format("truetype");
}
@keyframes move {
  to {
    transform: translateY(-70px);
  }
}
:root{
  --maincolor:#005b9e;
  --hovercolor:#007ad1;
  --subtitlecolor:gray;
  --sectionbackground:#F7FBFE;
  --section-wrapper-margin:4em auto 0;
  --section-padding:7em 0;
}
* {
  box-sizing: border-box;
  direction: rtl;
  font-family: my-iran-yekan, sans-serif;
}
*::selection {
  background-color: rgb(27, 9, 128);
  color: rgb(178, 233, 255);
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  /* border: 1px solid red; */
  margin: 0 auto;
}
.section-title,
 .section-sub-title {
   text-align: center;
 }
h3.section-title {
  margin: 0;
  font-family: my-pinar, sans-serif;
  font-size: 1.6rem;
}
.section-title::before,
.section-title::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: var(--maincolor);
}
.section-title::before {
  margin-left: 10px;
}
.section-title::after {
  margin-right: 10px;
}
h4.section-sub-title {
  color: var(--subtitlecolor);
  font-weight: bold;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
main {
  font-size: 1rem;
  background: url("../images/header-bg.jpg") left -160px top 0 no-repeat;
}
#top-header {
  display: flex;
  justify-content: space-between;
}
#top-header-logo:link,
#top-header-logo:visited {
  display: inline-block;
  transition: all 200ms ease-in-out;
}
#top-header-logo:hover {
  opacity: 0.8;
}
#top-header-logo img {
  height: 80px;
}
#top-header-nav {
  display: flex;
  align-items: center;
  gap: 2.4em;
}
#top-header-nav ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 2.4em;
  font-weight: bold;
}
#top-header-nav ul a:link,
#top-header-nav ul a:visited {
  color: var(--maincolor);
  transition: all 200ms ease-in-out;
}
#top-header-nav ul a:hover {
  color: var(--hovercolor);
}
.registration-btn:link,
.registration-btn:visited,.registration-btn {
  display: inline-block;
  color: white;
  padding: 0.4em 2em;
  background-color: var(--maincolor);
  border: 2px solid var(--maincolor);
  border-radius:  3px;
  transition: all 200ms ease-in-out;
}
.registration-btn:hover {
  background-color: var(--hovercolor);
  border: 2px solid var(--hovercolor);

}
#top-content {
  display: flex;
  min-height: 300px;
  align-items: center;
  margin-top: 3.5em;

}

#left-column,
#right-column {
  flex-basis: 50%;
  /* border: 1px solid green; */
}
#right-column h1,
ul {
  line-height: 1.7;
}
#right-column h1 {
  font-size: 1.7rem;
  color: var(--maincolor);
  font-family: my-pinar, sans-serif;
  font-weight: 700;
}
#right-column ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2.5em;
}
#right-column ul li {
  padding-right: 25px;
  background: url("../images/check_icon.png") right no-repeat;
}

.blue-bordered-btn:link,
.blue-bordered-btn:visited {
  display: inline-block;
  padding: 0.4em 1.5em;
  color: var(--hovercolor);
  border: solid var(--hovercolor);

}
#left-column img {
  transform: translateY(-35px);
  width: 100%;
  animation: move 2s alternate infinite ease-in-out;
}
#services {
  padding: var(--section-padding);
}
#services-wrapper {
  margin: var(--section-wrapper-margin);
  display: flex;
  gap: 1em;
}
.service-item {
  position: relative;
  overflow: hidden;
  min-height: 200px;
  flex-basis: 25%;
  padding: 1em;
  box-shadow: 0 0 10px 5px whitesmoke;
  border-radius: 7px;
}
.service-item h3{
  font-size: 1.4rem;
}
.service-item p {
  color: var(--subtitlecolor);
  font-size: 1.15rem;
  line-height: 1.3;
}
.service-logo-wrapper {
  background-color: var(--maincolor);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-logo-wrapper i{
  color: white;
  font-size: 1.5rem;
}
.service-item:hover i{
  color: var(--maincolor);
}
.service-item::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #b4d2e0;
  position: absolute;
  left: -32px;
  top: -25px;
  transition: all 200ms ease-in-out;
}
.service-item:hover::after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4573c7;
  border-radius: 0;
  z-index: -1;
}
.service-item p,
.service-item h3,
.service-logo-wrapper {
  transition: all 200ms ease-in-out;
}
.service-item:hover p,
.service-item:hover h3 {
  color: white;
}
.service-item:hover .service-logo-wrapper {
  background-color: white;
}
#teachers{
  background-color: var(--sectionbackground);
  padding: var(--section-padding);
}
#teachers-wrapper{
  display: flex;
  gap: 1.4em;
  margin: var(--section-wrapper-margin);
}
.teacher-item img{
  max-width: 100%;
  vertical-align: middle;/*this makes the extra space at the bottom of the div go away*/
}
.teacher-item{
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 5px 5px 5px whitesmoke;
  transition: all 200ms ease-in-out;
}
.teacher-item:hover{
  transform: scale(1.08);
}
.teacher-item h3{
  color: var(--maincolor);
  font-size: 1.2rem;
}
.teacher-item h4{
  color: var(--subtitlecolor);
  font-size: 1rem;
}
.teacher-item h3, .teacher-item h4{
  white-space: nowrap;
  text-align: center;
}
.teacher-item ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color:white;
  border-radius: 10px;
  width: 40px;
  position: absolute;
  top: 15px;
  right: -40px;
  transition: all 200ms ease-in-out;
}
.teacher-item:hover ul{
  right: 9px;
}
.teacher-item ul a{
  color:var(--maincolor);
  opacity: .4;
  font-size: 1.5rem;
  transition :200ms ease-in-out;
}
.teacher-item ul a:hover{
  opacity: 1;
}
#courses{
  min-height: 500px;
  padding: var(--section-padding);
}
#filter{
  margin: 3em 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1em;
}
#filter a:link,#filter a:visited{
  text-decoration: none;
  font-weight: bold;
  color: var(--maincolor);
  border: 2px solid var(--maincolor);
  border-radius: 10px;
  padding: .5em .8em;
  transition: all 200ms ease-in-out;
}
#filter li a:hover, #filter li .active{
  color: white;
  background-color: var(--maincolor);
}
#courses-wrapper{
  margin: var(--section-wrapper-margin);
  display: grid;
  gap: .6em ;
  grid-template-columns: repeat(auto-fit, minmax(350px, .8fr));
justify-content: center;
}
.course-item{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.course-item::after{
  content: "";
  display:block;
  background-color: rgba(0,0,255,0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  transition: all 300ms ease-in-out;
}
.course-item:hover::after{
  right: 0;
}
.course-item img{
  border-radius: 20px;
  max-width: 100%;
  vertical-align: middle;
  transition: transform 300ms ease-in-out;
}
.course-item:hover img{
  transform: scale(1.2) rotate(-5deg);
}
.course-item h4{
  color:white;
  margin:0;
  background-color: var(--maincolor);
  display: inline-block;
  padding: .5em .8em;
  border-radius: 8px 0 0 8px;
  position:absolute;
  right: 0;
  bottom: -40px;
  transition: all 200ms ease-in-out;
  z-index: 5;
}
.course-item:hover h4{
 bottom: 13px;
}
ul.link-wrapper {
  opacity: 0;
  margin: 0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  top: 43%;
  right: 50%;
  transform: translate(50%,-50%);
  list-style-type: none;
  transition: all 300ms ease-in-out;
  z-index: 5;
}
.course-item:hover ul.link-wrapper{
  top: 50%;
  opacity: 1;
}
.link-wrapper a:link, #link-wrapper a:visited{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--maincolor);
  background-color:white;
  border-radius: 50%;
}
.link-wrapper a:hover{
  color:white;
  background-color: var(--maincolor);
}
#newsletter{
  padding: var(--section-padding);
  background-color: var(--sectionbackground);
}
#newsletter-form{
  background: white;
  width: 60%;
  height: 70px;
  display: flex;
  align-items: stretch;
  margin: 5em auto 0;
  border-radius: 5px;
  padding: .6em;
}
#email{
  width: calc(100% - 145px);
  border: none;
  direction: ltr;
  padding: 1em;
}
#email:focus{
  outline: none;
}